<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
  .submission-form {
    text-align: center;
    background-color: grey;
    padding: 30px;
    margin: 50px;
}

.country-dropdown{
background-color: white;
}

.body-style{
background-color: black;
}
</style>
</head>
<body class = "body-style">
<div class="submission-form">
<form id="searchForm" action = "http://localhost:5000/submit" method="post">
  <select name="countries" class="country-dropdown">
     <option value="UK">UK</option>
     <option value="France">France</option>
     <option value="German">Germany</option>
  </select>
  <input type="text" name="s" placeholder="Contact number">
  <input type="text" name="m" placeholder="Enter message">
  <input type="submit" value="Submit">
</form>
 
</body>
</html>