<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}>
</head>
<body class = "body-style">
<div class="imgbox">
    <img class="center-fit" src='static/new (1).jpg'>
</div>
</body>
</html>