.submission-form {
    text-align: center;
    background-color: grey;
    padding: 30px;
    margin: 50px;
}

.country-dropdown{
background-color: white;
}

.body-style{
background-color: black;
}
